<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Credentials</title>
</head>
<body>
    <h1>Dear <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>, your registration is completed.</h1>
    <p>You can start using the system with your user code and password. Remember, once you
    log in to system, you can change your password.</p>
    <p>User Code: <span th:text="${userCode}"></span></p>
    <p>Password: <span th:text="${userPassword}"></span></p>
</body>
</html>